{% extends "index.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block description %}
    {{ description }}
{% endblock %}
{% block content %}      
    <section class="ContentContainer">
        <div class="gamut-Layout"> 
        <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">Аттестация инженерно-технических работников (ИТР)</h3>
              <div class="section-title-divider"></div>
              <p class="section-description">Аттестация инженерно-технических работников, в том числе в строительстве, призвана оценить профпригодность специалиста и подтвердить его квалификацию.</p>
            </div>
        </div>
        <!-- Вывод аттестации -->
        <ul class="cadr-LayoutGrid">
            {% for att in attest %}
                <li class="cadr-Grid-row1-Column " >			 		 
                    <a class="card-Anchor-AnchorBase" aria-disabled="false"  href="{{ url_for('attestation.attestation_one', url_id=att.url_id) }}">
                    <div class="card  card-Shadow">		
                      <div class="card-header">
                        Аттестация
                      </div>
                      <div class="card-body">
                        
                        <h5 class="card-title">{{ att.name }}</h5>
                        <span class="">					
                                Срок получения - <b>{{ att.watch }}</b>
                        </span>	</br>
                        <span class="">						
							Стоимость: 
								{% if att['price'] %}
							от <b> {{ att.price }} </b>руб.
							{% else  %}
								 <b> По запросу </b>
							{% endif %}							
						</span>				
                      </div>
                    </div>
                    </a>                    
                </li>
            {% endfor %}    
            </ul>
        <!-- конец вывода аттестации  -->
        <div class="jrm-truncate" >
           
            
            <h2>Как проходит аттестация ИТР</h2>
            
            <p>Процедура осуществляется в формате экзамена, который включает теорию и практическую часть.</p>
            
            <p>Существует три варианта проведения экзамена:</p>
            
            <ol>
                <li>В Ростехнадзоре, предварительно заполнив соответствующую форму (образец есть на сайте) и направив её в территориальный орган. Когда заявку рассмотрят, будет назначена дата экзамена, по итогам которого выдаётся протокол с результатами.</li>
                <li>В специализированном учебном центре, который проводит аттестацию в соответствии со всеми требованиями и выдаёт дипломы/сертификаты с занесением информации в Единый реестр. Это удобное и выгодное решение, особенно если на проведение процедуры у предприятия нет ни времени, ни возможности.</li>
                <li>На базе организации, если есть специалисты, получившие дополнительное профобразование и имеющие аттестат ИТР по промышленной безопасности, выданный Ростехнадзором.</li>
            </ol>
            
            <p>Для того чтобы провести аттестацию на базе предприятия, следует:</p>
            
            <ul>
                <li>сформировать комиссию не менее чем из 5 сотрудников;</li>
                <li>разработать правила аттестационной процедуры совместно с экспертами и закрепить их в соответствующем Положении;</li>
                <li>уведомить работников за месяц о предстоящей процедуре и ознакомить их с программой.</li>
            </ul>
            
            <p>После этого члены комиссии должны изучить все документы на работника, пообщаться с ним и принять решение о его соответствии/несоответствии занимаемой должности, а также дать необходимые рекомендации.</p>
            
            <h2>Зачем нужна аттестация ИТР в строительстве</h2>
            
            <p>Строительство зачастую связано с рисками. Независимо от того, строятся жилые, коммерческие, институциональные здания или сооружения инфраструктуры, на любой стройплощадке может произойти ЧП, несчастный случай, авария, простой оборудования. Каждый, кто участвует в рабочем процессе, должен чётко выполнять свои обязанности, а также знать правила техники безопасности и сферу своей ответственности на вверенном участке работы.</p>
            
            <p>Для того чтобы минимизировать вышеперечисленные риски и быть уверенными в профессиональной подготовке инженерно-технических работников, на предприятиях отрасли периодически проводится аттестация.</p>
            
            <h2>Какими могут быть результаты аттестации</h2>
            
            <p>Как и на любом другом экзамене, результат может быть успешным и неудовлетворительным.</p>
            
            <p>В зависимости от итогов аттестации определяются:</p>
            
            <ul>
                <li>степень соответствия знаний и навыков работника занимаемой им должности;</li>
                <li>необходимость повысить квалификацию, пройдя специализированные курсы.</li>
            </ul>
            
            <p>Самый неблагоприятный результат ‒ отстранение от работы.</p>
            
            <p>После успешного прохождения аттестации инженерно-технический работник получает удостоверение ИТР.</p>
            
            <h2>Что даст аттестация ИТР организации</h2>
            
            <p>Удостоверение ИТР, а также протоколы аттестации могут быть затребованы при проверке или при несчастных случаях.</p>
            
            <p>Документ, подтверждающий квалификацию ИТР, в частности, позволяет организации получить допуск СРО, который даёт возможность вести работы и оказывать услуги в строительном секторе.</p>
            
            <h2>Как часто нужно проходить аттестацию ИТР</h2>
            
            <p>Изначально алгоритм и аттестационные правила регулировались «Положением об организации работы по подготовке специалистов предприятий», утверждённым приказом Ростехнадзора №&nbsp;37 от 29 января 2007 года.</p>
            
            <p>В 2019 году, чтобы оптимизировать процедуру, а также улучшить качество оценки ИТР, приказ Ростехнадзора был дополнен постановлением правительства РФ №&nbsp;1365 от 06.11.2019.</p>
            
            <p>Итак, в соответствии с данным документом, экзаменацию инженерно-технических работников в Москве и других регионах России проводят в течение календарного месяца, начиная с момента, когда работник приступил к исполнению должностных обязанностей.</p>
            
            <p>Повторная аттестация осуществляется через 5 лет после первой. Конкретные сроки проведения утверждаются руководителем организации, компании и должны быть согласованы с профсоюзом.</p>
            
            <p>Периодическую аттестацию в строительной отрасли обязаны проходить все ИТР, даже те, которые в недавнем прошлом обучались на курсах повышения квалификации.</p>
            
            <p>Опыт работы, а также занимаемая на момент экзаменации должность не имеют значения.</p>
            
            <p>В случае внештатной ситуации, аварии работодатель обязан инициировать и провести внеочередную аттестацию ИТР в центральной аттестационной комиссии. Причём работники не будут освобождены от очередной аттестации в соответствии с графиком.</p>
            
        </div>
        </div>
       
    
    </section> 
    
{% endblock %}