{% extends "index.html" %}
{% block title %}
  {{ model_doc.title }}
	{% endblock %}

{% block content %} 


  <!-- #collapsed Dash Board ==================-->
  {% import '/services/_navbar.html' as nvbr %}
  {{ nvbr.navbar() }} 
  <!-- collapsed Dash Board========= -->

  <section class="ContentContainer">
      <div class="catalog-LayoutGrid"> 

<!-- # SideBoard ===============================-->
        {% import '/services/_sidebar.html' as sdbr %}
        {{ sdbr.sidebar(widget_submenu, service_license, service_sro, service_certificates) }}   
 <!-- # end SideBoard -->   
 <div class="gamut-catalog-Column">
     <div>
    <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">{{model_doc.name}}</h3>
          <div class="section-title-divider"></div>          
        </div>
      </div>
        {% autoescape false %}
        {{ model_doc.content }}
        {% endautoescape %}
    </div>    
    </div>
</div>
</section>

{% endblock %}           