{% extends "index.html" %}

{% block title %}
  {{ license.name }}
	{% endblock %}
{% block content %} 


 <!-- #collapsed Dash Board ==================-->
 {% import '/services/_navbar.html' as nvbr %}
 {{ nvbr.navbar() }} 
 <!-- collapsed Dash Board========= -->

 <section class="ContentContainer">
     <div class="catalog-LayoutGrid"> 

<!-- # SideBoard ===============================-->
       {% import '/services/_sidebar.html' as sdbr %}
       {{ sdbr.sidebar(widgetService, widget_path) }}   
<!-- # end SideBoard -->  
          
          
        <div class="gamut-catalog-Column license-row-gap">
          <div class="gamut-nameLicense-CardWrappe">
            <div class="gamut-nameLicenseLeft-FlexBox">
                <h3 class="gamut-vefqpc-Text">Лицензии</h3>
                <span class="gamut-98oavn-Text ">{{ license.name }} за месяц</span>
            </div>
            <div class="gamut-nameLicenseright-Box">
              <span class="gamut-4hhi7c-Text ">
                Напрямую без посредников с предоставлением специалистов и материально-технической базы.</br>
                Под ключ со специалистами и оборудованием с возможным ускорением до 2-х недель.
              </span>
            </div>          
          </div>			
          <div class="row">
            <div class="col-md-12">              
              <div class="section-title-divider"></div>
              <div class="service-description">
                {{ license.short_description | safe }}
              </div>
            </div>
          </div>      
     
            
            <!----Кнопка модульного окна  -->
      <ul class="cadr-LayoutGrid">           
        <li class="cadr-Grid-row1-ColumnDocLicense" >				
          <div class="col ">			 
         <a class="card-Anchor-AnchorBase" aria-disabled="false"  data-bs-toggle="modal" data-bs-target="#staticBackdropLive">
         <div class="card  card-Shadow-Doc-Servise">		
           <div class="card-header">
             Документы
           </div>
           <div class="card-body">
             
             <h5 class="card-title">Перечень обязательных документов и порядок получения Лицензии</h5>
             <span class="gamut-1aub0r4-Text e8i0p5k0">
              Для оформления лицензии установлен определённый перечень документов.
              Если у вас остались вопросы? позвоните по телефонам:<b> +7 (937) 727-00-33</b>,
              и наши специалисты проконсультируют вас.
             </span>
             <span class="gamut-1wx7f9v-Text e8i0p5k0"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>				
           </div>
         </div>
        </a>
         </div>
        </li>
        <li class="cadr-Grid-row1-ColumnDocLicense" >				
          <div class="col ">			 
         <a class="card-Anchor-AnchorBase" aria-disabled="false"  data-bs-toggle="modal" data-bs-target="#staticBackdropLive2">
         <div class="card  card-Shadow-Doc-Servise">		
           <div class="card-header">
            Условия
           </div>
           <div class="card-body">
             
             <h5 class="card-title">Виды работ подлежащих лицензированию </h5>
             <span class="gamut-1aub0r4-Text e8i0p5k0">
              Центр переподготовки кадров "ПрофРазвитие" на бесплатной основе подберёт всех необходимых для лицензирования специалистов.
             </span>
             <span class="gamut-1wx7f9v-Text e8i0p5k0"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>				
           </div>
         </div>
        </a>
         </div>
        </li>      
    </ul>
  <!---- конец Кнопки модульного окна  -->
          </div>	
      </div>
        <!--Модульное окно для документов Лицензии-->
        <div class="modal fade" id="staticBackdropLive" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLiveLabel" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLiveLabel">{{ model_doc.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {{ model_doc.content | safe}}
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <!--Конец Модульного окна для документов Лицензии-->
      <!--Модульное окно для Условий Лицензии-->
      <div class="modal fade" id="staticBackdropLive2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLiveLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLiveLabel">{{ model_terms.name }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{ model_terms.content | safe}}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <!--Конец Модульного окна для Условий Лицензии-->
  </section>




{% endblock %}        

